.jumbotron {
    text-align: center;
    align-content: center;
}
body {
    margin-top: -20px;
}
h1,h2 {
    font-style: italic;
}
/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }